<app-btn-voltar></app-btn-voltar>

<!-- container da tela -->
<div class="container__pagamento">

    <!-- SEÇÃO DO PAGAMENTO -->
    <div class="endereco_entrega_pagamento" id="teste" [ngClass]="view_Endereco">
        <h1>Selecione o Endereço</h1>
        
        <div class="endereco_principal">
            <div class="endereco_morumbi_div">
                <div class="endereco_m_radio">
                    <input type="radio" id="endereco_morumbi" name="endereco">
                    <label for="endereco_morumbi">Rua Tavares Vilela 23</label>
                </div>
            </div>
            <p>CEP: 00346540 - São Paulo, São Paulo</p>
            <p>Rayssa Ramos</p>
        </div>
        
        <div class="endereco_principal">
            <div class="endereco_butanta_div">
                <div class="endereco_b_radio">
                    <input type="radio" id="endereco_butanta" name="endereco">
                    <label for="endereco_butanta">Rua Alfredo Morais 274</label>
                </div>   
            </div>
            <p>CEP: 00346540 - São Paulo, São Paulo</p>
            <p>Rayssa Ramos</p>
        </div>
        
        <div class="novo_editar_endereco">
            <button>Novo Endereço</button>
            <button>Editar Endereços</button>
        </div>
    
        <!-- botão que confirma a próxima tela -->
        <button 
            style="background-color: purple;"
            (click)="mudar_viewEntrega()"
            >CONFIRMAR</button>

    </div>
        

    <!-- SEÇÃO DE ENTREGA -->
    <div class="secao__entrega" [ngClass]="view_Entrega">
        <h2>Entrega</h2>
        
        <div class="entrega_principal">
            <div class="sedex">
                <input type="radio" id="endereco_morumbi_sedex" name="entrega">
                <label for="endereco_morumbi_sedex">Sedex - receba amanhã - R$ 10,00</label>
            </div>
        </div>
        
        <div class="entrega_principal">
            <div class="pac">
                <input type="radio" id="endereco_butanta_pac" name="entrega">
                <label for="endereco_butanta_pac">PAC - receba quarta-feira - R$ 7,00</label>
            </div>
        </div>
        
        <div class="continuar_compra">
            <button class="button_continuar_compra">Continuar a Compra</button>
        </div>
        
    </div>


<!-- fim do container da tela -->
</div>

<!--   MARIA, ISSO É A BARRA DE NAVEGAÇÃO: FAVOR NÃO TIRAR :)   -->
<app-bottom-nav-bar></app-bottom-nav-bar>
