
.container__pagamento {
    margin: 0%;
    padding: 0%;
    align-items: center;
    display: block;
    justify-content: center;
    box-shadow: none;
    text-align: center;
    margin-bottom: 150px;
}
h1 {
    font-size: 25px;
    margin: 10px 60px 10px 60px;
}
p{
    margin: 0%;
    color: #727272;
}
label {
    margin-left:10px;
    color: #727272;
}
div {
    margin: 24px;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 15px 20px;
}
.endereco_principal {
    text-align:left;
}
#endereco_butanta {
    height: 20px;
    width: 20px;  
}
.endereco_butanta_div {
    display: flex;
    flex-direction: row;
    box-shadow: none;
    padding: 0%;
    margin: 0%;
}
#endereco_morumbi {
    height: 20px;
    width: 20px; 
}
.endereco_morumbi_div {
    display: flex;
    flex-direction: row;
    box-shadow: none;
    padding: 0%;
    margin: 0%;
}
.novo_editar_endereco {
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
    justify-content: center;
    align-items: center;
}
button {
    border-radius: 20px;
    background-color: #152139;
    color: white;
    padding: 7px 25px;
    font-size: 12px;
    border: none;
    margin:5px;
}
.sedex {
    display: flex;
    flex-direction: row;
    box-shadow: none;
    padding: 0%;
    margin: 0%;
    text-align:left;
}
.pac{
    display: flex;
    flex-direction: row;
    box-shadow: none;
    padding: 0%;
    margin: 0%;
    text-align:left;
}
.continuar_compra {
    padding: 5px 5px;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}
.button_continuar_compra {
    padding: 7px 50px;
    font-size: 18px;
}