<app-btn-voltar></app-btn-voltar>

<div class="container__pagamento">

    <h1>Selecione o Endereço</h1>
    
    <div class="endereco_m_principal">
        <div class="endereco_morumbi_div">
            <input type="radio" id="endereco_morumbi" name="endereco">
            <label>Rua Tavares Vilela 23</label>
        </div>
        <p>CEP: 00346540 - São Paulo, São Paulo</p>
        <p>Rayssa Ramos</p>
    </div>
    
    <div class="endereco_b_principal">
        <div class="endereco_butanta_div">
            <input type="radio" id="endereco_butanta" name="endereco">
            <label>Rua Alfredo Morais 274</label>
        </div>
        <p>CEP: 00346540 - São Paulo, São Paulo</p>
        <p>Rayssa Ramos</p>
    </div>
    
    <div class="novo_editar_endereco">
       <button>Novo Endereço</button>
       <button>Editar Endereços</button>
    </div>
    
    <h2>Entrega</h2>
</div>

<!--   MARIA, ISSO É A BARRA DE NAVEGAÇÃO: FAVOR NÃO TIRAR :)   -->
<app-bottom-nav-bar></app-bottom-nav-bar>