<app-btn-voltar></app-btn-voltar>
<h1>Selecione o Endereço</h1>
<div class="endereco_morumbi_div">
    <input type="radio" id="endereco_morumbi" name="endereco_morumbi">
    <label>Rua Tavares Vilela 23</label>
</div>
<div class="endereco_butanta_div">
    <input type="radio" id="endereco_butanta" name="endereco_butanta">
    <label>Rua Alfredo Morais 274</label>
</div>
<div class="novo_endereco">
   <button>Novo Endereço</button>
</div>

<!--   MARIA, ISSO É A BARRA DE NAVEGAÇÃO: FAVOR NÃO TIRAR :)   -->
<app-bottom-nav-bar></app-bottom-nav-bar>