<app-top-nav-bar></app-top-nav-bar>

<div class="container__perfil container">

    <div class="header__perfil">

        <img src="{{url_fotoUsuario}}" alt="Foto de Perfil de {{nome_usuario}}">

        <div class="info__header">
            <h2>{{nome_usuario}}</h2>
        </div>

    </div>

    <div class="nav__perfil">
        <button class="navItem">Anúncios</button>
        <button class="navItem">Avaliação</button>
        <button class="navItem">Pedidos</button>
    </div>

    <!-- usar o ngFor aqui depois -->
    <div class="anuncios__perfil">
        <app-anuncio-thumb *ngFor="let anuncio of idAnuncios"
        idAnuncio = "{{anuncio}}"
        localAnuncio="{{localUsuario}}"
    ></app-anuncio-thumb>
    </div>

    <!-- usar o ngFor aqui depois -->
    <div class="avaliacao__perfil"></div>

    <!-- usar o ngFor aqui depois -->
    <div class="pedidos__perfil"></div>
    
</div>
