<app-top-nav-bar></app-top-nav-bar>

<div class="container__perfil container">

    <div class="header__perfil">

        <img src="{{url_fotoUsuario}}" alt="Foto de Perfil de {{nome_usuario}}">

        <div class="info__header">
            <h2>{{nome_usuario}}</h2>
        </div>

    </div>

    <div class="nav__perfil">
        <button class="navItem" (click)="mudarSecao(0)" [ngClass] = "selecionarA()">Anúncios</button>
        <button class="navItem" (click)="mudarSecao(1)" [ngClass] = "selecionarB()">Avaliação</button>
        <button class="navItem" (click)="mudarSecao(2)" [ngClass] = "selecionarC()">Pedidos</button>
    </div>

    <!-- usar o ngFor aqui depois -->
    <div class="anuncios__perfil" *ngIf = "secaoIndex == 0">
        <app-anuncio-thumb *ngFor="let anuncio of idAnuncios"
        idAnuncio = "{{anuncio}}"
        localAnuncio="{{localUsuario}}"
    ></app-anuncio-thumb>
    </div>

    <!-- usar o ngFor aqui depois -->
    <div class="avaliacao__perfil" *ngIf = "secaoIndex == 1">
        <div class="container__avaliacao">
            <div class="nota__grande">
                <h1>{{mediaAvaliacao.toFixed(1)}}</h1>

                <div class="estrelinhas">
                    <img src="https://i.pinimg.com/originals/56/89/8e/56898e2b68d0d0dbb000d56eafe6ea12.png" alt="Desenho de Estrela">
                </div>
            </div>

            <div class="grafico__avaliacao">
                <div class="line-stars">
                    <app-grafico-avaliacao
                        valorMax = "{{notasAvaliacao.length}}"
                        qtdEstrelas = "5"
                        qtdNotas = "5"
                    ></app-grafico-avaliacao>
                    <app-grafico-avaliacao
                        valorMax = {{notasAvaliacao.length}}
                        qtdEstrelas = "4"
                        qtdNotas = "4"
                    ></app-grafico-avaliacao>
                    <app-grafico-avaliacao
                        valorMax = {{notasAvaliacao.length}}
                        qtdEstrelas = "3"
                        qtdNotas = "3"
                    ></app-grafico-avaliacao>
                    <app-grafico-avaliacao
                        valorMax = {{notasAvaliacao.length}}
                        qtdEstrelas = "2"
                        qtdNotas = "2"
                    ></app-grafico-avaliacao>
                    <app-grafico-avaliacao
                        valorMax = {{notasAvaliacao.length}}
                        qtdEstrelas = "1"
                        qtdNotas = "1"
                    ></app-grafico-avaliacao>
                </div>
            </div>
        </div>
    </div>

    <!-- usar o ngFor aqui depois -->
    <div class="pedidos__perfil" *ngIf = "secaoIndex == 2">
        <app-pedido
            *ngFor="let pedido of idPedidos"
            idPedido="{{pedido}}"
        ></app-pedido>
    </div>
    
</div>
