.anuncios__perfil{
    margin: 24px;
}

.header__perfil{
    display: flex;
    flex-direction: row;
    padding: 0 24px;

    align-items: center;
    gap: 2rem;
}

.header__perfil > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.info__header > h2{
    font-family: 'Advent Pro', sans-serif;
    font-size: 25px;
    color: #152139;
}

/* NAVEGAÇÃO DO PERFIL */
.nav__perfil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .175rem;

    margin-top: 1.5rem;
    padding-top: .65rem;
    border-top: 2px solid #d7deea;
    border-bottom: 6px solid #d7deea;

    -webkit-box-shadow: 0px 46px 57px 1px rgba(215,222,234,0.75);
    -moz-box-shadow: 0px 46px 57px 1px rgba(215,222,234,0.75);
    box-shadow: 0px 46px 57px 1px rgba(215,222,234,0.75);
}

/* .nav-decor{
    height: 5px;
    width: 100%;
    background-color: #d7deea;
} */

.navItem{
    border: none;
    background-color: transparent;

    color: var(--deep-blue);

    font-size: 18px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 500;

    padding: 0 22px;
    padding-bottom: .65rem;
    cursor:pointer;
    /* border-bottom: 5px solid #152139; */
    /* border-bottom: 5px solid #1f3b6f; */
}

.selecionado{
    font-weight: 600;
    color: var(--book-orange);
}

/* CSS DA PARTE DE AVALIAÇÃO DO PERFIL */

.container__avaliacao{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container__avaliacao h1 {
    text-align: center;
}

.estrelinhas > img{
    height: 60px;
    width: 60px;
    margin: 10px;
}

.nota__grande{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    align-items: center;
}

.nota__grande h1 {
    font-size: 50px;
    margin: 0%;
}

.estrelinhas {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pedidos__perfil{
    padding-bottom: 50px;
}