
<app-top-nav-bar *ngIf="idUsuario == loggedUser"></app-top-nav-bar>
<app-btn-voltar *ngIf="idUsuario != loggedUser"></app-btn-voltar>

<div class="container__perfil" [class]="tela">

    <div class="header__perfil">
        
        <img src="{{url_fotoUsuario}}" alt="Foto de Perfil de {{nome_usuario}}">

        <div class="info__header">
            <h2>{{nome_usuario}}</h2>
        </div>

    </div>

    <div class="nav__perfil">
        <button class="navItem" (click)="mudarSecao(0)" [ngClass] = "selecionarA()">Anúncios</button>
        <button class="navItem" (click)="mudarSecao(1)" [ngClass] = "selecionarB()">Avaliação</button>
        <button class="navItem" (click)="mudarSecao(2)" *ngIf="idUsuario==loggedUser" [ngClass] = "selecionarC()">Pedidos</button>
    </div>

    <div class="anuncios__perfil" *ngIf="secaoIndex == 0">
        
        <div class="lembrete" *ngIf="idAnuncios.length == 0">
            <p *ngIf="idUsuario!=loggedUser">Este usuário não possui nenhum anúncio.</p> 
            <p *ngIf="idUsuario==loggedUser">Você não possui nenhum anúncio.</p> 
        </div>

        <app-anuncio-thumb *ngFor="let anuncio of idAnuncios"
        idAnuncio = "{{anuncio}}"
        localAnuncio="{{localUsuario}}"
    ></app-anuncio-thumb>
    </div>

    <div class="avaliacao__perfil" *ngIf="secaoIndex == 1">
        <div class="container__avaliacao" >
            <h1>Avaliação do Usuário</h1>
            <div class="nota__grande">
                <h1>{{mediaAvaliacao.toFixed(1)}}</h1>

                <div class="estrelinhas">
                    <img src="../../../assets/icons/Estrela.svg" alt="Desenho de Estrela">
                </div>
            </div>

            <div class="grafico__avaliacao">
                <div class="line-stars">
                    <app-grafico-avaliacao
                        idUsuario="{{idUsuario}}"
                    >
                    </app-grafico-avaliacao>
                </div>
            </div>
        </div>
    </div>

    <div class="pedidos__perfil" *ngIf="secaoIndex == 2 && idUsuario == loggedUser">
        <app-pedido
            *ngFor="let pedido of idPedidos"
            idPedido="{{pedido}}"
        ></app-pedido>
    </div>
    
</div>

<app-bottom-nav-bar></app-bottom-nav-bar>