button{
    background-color: transparent;
    width: 100%;
    border: none;
    cursor:pointer;
}

button:hover{
    background-color: #D7DEEA;
}

.container__conversa-thumb{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: .75rem 24px;
}

.divisao{
    border: 1px solid #D7DEEA;
}

.foto__usuario > img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.txt__conversa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Advent Pro';
}

.txt__conversa > h1{
    font-size: 24px;
    color: #1F3B6F;
}

.txt__conversa > h2{
    font-size: 20px;
    color: #152139;
}