img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-items: center;
    object-fit: cover;
}

.sebo_unico{
    background-color: #D7DEEA;
    border-radius: 10px;
    margin-top: 30px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.p{
    margin-left: 35px;
    font-family: 11px;
    font-family: 'Poppins', sans-serif;
}

.h3{
    margin-left: 35px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  
}
