<div class="container__secao-pequena">
    <div class="scn-pqn__wrapper">

        <div class="title">
            <h2>{{titulo}}</h2>
        </div>

        <div class="content">
            <button
                *ngFor = "let livro of livros"
            >
                <app-livro-thumb
                    idLivro = "{{livro.id}}"
                    tituloLivro="{{livro.titulo}}"
                    livroImg="{{livro.urlImg}}"
             ></app-livro-thumb>
            </button>
            
        </div>

    </div>
</div>