img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.usuario{
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    
}

#nomePerfil{
    margin-left: 25px;
    font-family: 'Advent Pro', sans-serif;
    color: #152139;
    font-weight: bold;
    font-size: 24px;
}
.geral_conversasLista {
    margin-bottom: 50px;
}

 
.header{
    border-bottom: 2px solid #d7deea;
    padding-bottom: 1rem;

}

a{
    text-decoration: none;
}