<!-- TELA DE LISTA DE CONVERSAS -->
<app-top-nav-bar></app-top-nav-bar>

<div class="geral_conversasLista container">
    <div class="header">
        <!--Barra de pesquisa -->
        <app-barra-pesquisa></app-barra-pesquisa>
    </div>
    

    <!-- Lista de conversas -->
    <div class="lembrete" *ngIf="idChats.length == 0">
        Parece que você não tem nenhuma conversa no momento.
    </div>
    <a href="conversas">
        <app-chat-geral-config *ngFor="let chat of idChats"
            idChat="{{chat}}"
        ></app-chat-geral-config>
    </a>

</div>

<app-bottom-nav-bar></app-bottom-nav-bar>
