<!-- TELA DE LISTA DE CONVERSAS -->
<app-top-nav-bar></app-top-nav-bar>

<div class="geral_conversasLista container">
    <!-- Div com user proprietário -->
    <div class="usuario">
        <img src="assets/imgTeste/iconSeboLista.jpg">
        <p> Nome User</p>
    </div>
    <!--Barra de pesquisa -->
    <app-barra-pesquisa></app-barra-pesquisa>
    <hr>
    
    <!-- Lista de conversas -->
    <app-chat-geral-config></app-chat-geral-config>
    <hr>
    <app-chat-geral-config></app-chat-geral-config>
    <hr>
    <app-chat-geral-config></app-chat-geral-config>
    <hr>
    <app-chat-geral-config></app-chat-geral-config>
    <hr>
    <app-chat-geral-config></app-chat-geral-config>
</div>


