img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: .75rem;
}

.container_sebos{
    display: flex;
    text-align: center;    
}

.sebos{
    margin-left: 20px;
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--deep-blue);
}


