<button class="btn_denunciar" (click)="popDenuncia()" *ngIf="!denuncia_status">Denunciar {{transacao}}</button>
<button class="btn_denunciar" *ngIf="denuncia_status">Você denunciou esta {{transacao}}</button>
               

<div class="container__tela" [class]="visibilidade">
    <div class="container__msg-denuncia">

        <div class="primeiraEtapa" *ngIf="etapa==1">
            <img src="../../../assets/icons/bloqueado.svg" class="bloqueado_img"/>
            
            <div class="texto__denuncia">
                <p>Deseja denunciar essa transação com {{usuario}}?</p>
                <p>Ao denunciar, suas transações serão bloqueadas até confirmarmos e verificarmos a denúncia.</p>
            </div>
        
            <div class="btn__opcoes">
                <button (click)="coletaDados()">Sim</button>
                <button (click)="popDenuncia()">Não</button>
            </div>
        </div>

        <div class="etapaDados" *ngIf="etapa==3">
            <div class="icone__denuncia">
                <img src="../../../assets/icons/bloqueado.svg" class="bloqueado_img"/>
            </div>

            <div class="formDenuncia">
                <form 
                    [formGroup]="denunciarForm"
                    (ngSubmit)="registrar_denuncia()"
                    >

                    <div class="texto__denuncia">
                        <p>Escreva uma mensagem para acompanhar sua denúncia</p>
                    </div>

                    <div class="inptsForm">
                        <input
                            id="tituloDenuncia"
                            placeholder="Título"
                            formControlName = "tituloDenuncia"
                            >

                        <textarea
                            class = "descricao"
                            id="mensagem"
                            placeholder="Descreva o ocorrido"
                            formControlName = "mensagem"
                            ></textarea>
                    </div>

                    <div class="btn__opcoes">
                        <button type="submit">Denunciar</button>
                        <button type="button" (click)="cancelarDenuncia()">Cancelar</button>
                    </div>

                </form>
            </div>
        </div>

        <div class="segundaEtapa" *ngIf="etapa==2">
            <div class="icone__denuncia">
                <img src="../../../assets/icons/bloqueado.svg" class="bloqueado_img"/>
            </div>
    
            <div class="texto__denuncia">
                <p>Sua denúncia foi efetuada com sucesso!</p>
            </div>
    
            <div class="btn__opcoes">
                <button (click)="popDenuncia()">Ok!</button>
            </div>
        </div>
    
    </div>

</div>
