.container__inicial{
    background-color: var(--deep-blue);
    
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.identidade__visual > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.identidade__visual > h1{
    color: white;
}

.conteudo{
    background-color: white;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 400px;
    width: 350px;
}

.container__inicial button{
    background-color: transparent;
    border: none;
    color: var(--book-orange);
    text-decoration: underline;
}