
<div class="container__inicial">

    <!-- Logo do BookShire -->
    <div class="identidade__visual">
        <img src="assets/thumbnails/logoBookshire.png" alt="Logo do BookShire">
        <h1>BookShire</h1>
    </div>

    <!-- SEÇÃO DE LOGIN -->
    <div class="container__login " [ngClass]="view_login">
        <div class="conteudos">
            <div class="forms__login">

                <div class="email_div">
                    <input name="email" type="text" placeholder="E-mail">
                </div>
                
                <br>
                
                <div class="senha_div">
                    <input name="senha" type="text" placeholder="Senha">
                </div>
            </div>
    
            
        </div>
            <button class="logar_button">Entrar</button>
            <p>Não possui conta no BookShire?</p>
            <button class="button_margin" (click)="mudar_tela_login()">Cadastre-se já!</button>
    </div>
    
    <!-- SEÇÃO DE CADASTRO -->
    <div class="container__cadastro " [ngClass]="view_cadastro">
        <div class="forms__cadastro">
            
            <div>
                <input name="nome" type="text" placeholder="Nome">
            </div>
   
            <div>
                <input name="email" type="text" placeholder="E-mail">
            </div>
    
            <div>
                <input name="senha" type="text" placeholder="Senha">
                <input name="senhaConfirm" type="text" placeholder="Confirmar Senha">
            </div>
            
            <div>
                <input name="telefone" type="text" placeholder="Telefone">
            </div>
            
            <div class="cpf_cnpj">
                <div class="cnpj">
                    <input name="cnpj_cpf" type="radio" id="cnpj" (click)="mudar_tela_cnpj()" placeholder="CNPJ"/>
                    <label for="cnpj">CNPJ</label>
                </div>
                <div class="cpf">
                    <input name="cnpj_cpf" type="radio" id="cpf" (click)="mudar_tela_cpf()" placeholder="CPF" />
                    <label for="cpf" >CPF</label>
                </div>
            </div>
            <div class="dado_cnpj" [ngClass]="tela_cnpj">
                <input name="cnpj" type="text"/>
            </div>
            <div class="dado_cpf" [ngClass]="tela_cpf">
                <input name="cpf" type="text"/>
            </div>

            <button class="cadastrar_button">Cadastrar</button>
            <p>Já é cadastrado?</p>
            <button class="button_margin" (click)="mudar_tela_cadastro()">Faça Login</button>
        </div>

    </div>
</div>

