* {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* CLASSES DE VISIBILIDADE DAS DIVS*/

.escondido{
    display: none;
}

.aparecendo{
    display: flex;
}
/**/
.container__inicial{
    background-color: var(--deep-blue);
    
    width: 100%;
    height: 100%;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.identidade__visual > img{
    margin-top: 30px;
    margin-bottom: 14px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.identidade__visual > h1{
    color: white;
}

.conteudo{
    background-color: white;
    border-radius: 20px;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 24px;
    
}

.conteudos {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button_margin{
    background-color: transparent;
    border: none;
    color: var(--book-orange);
    margin-bottom: 50px;
}
.forms__login input {
    border-radius: 15px;
    border: 1px solid #152139;
    padding: 5px 20px;
}
.container__login p{
    color: white;
    margin-top: 20px;
}
/* Css cadastro */
.container__cadastro p {
    color: white;
    margin-top: 40px;
}
.forms__cadastro input {
    border-radius: 15px;
    border: 1px solid #152139;
    padding: 5px 20px;
    margin: 10px;
}
.forms__cadastro {
    margin-top: 24px;
}
.cadastrar_button {
    background-color: #FF6D1F;
    color: white;
    margin-top: 24px;
    margin-bottom: 20px;
    padding: 7px 40px;
    border-radius: 15px;
    border: none;
}
.logar_button {
    background-color: #FF6D1F;
    color: white;
    margin-bottom: 20px;
    padding: 7px 40px;
    border-radius: 15px;
    border: none;
}