
<div class="container__inicial">

    <!-- Logo do BookShire -->
    <div class="identidade__visual">
        <img src="assets/thumbnails/logoBookshire.png" alt="Logo do BookShire">
        <h1>BookShire</h1>
    </div>

    <!-- SEÇÃO DE LOGIN -->
    <div class="container__login " [ngClass]="view_login">
        <div class="conteudos">
            <div class="forms__login">

                <div>
                    <input name="email" type="text" placeholder="E-mail">
                </div>
                
                <br>
                
                <div>
                    <input name="senha" type="text" placeholder="Senha">
                </div>
            </div>
    
            
        </div>
            <p>Não possui conta no BookShire?</p>
            <button (click)="mudar_tela_login()">Cadastre-se já!</button>
    </div>
    
    <!-- SEÇÃO DE CADASTRO -->
    <div class="container__cadastro conteudo" [ngClass]="view_cadastro">
        <div class="forms__cadastro">
            
            <div>
                <label for="nome">Nome Completo</label>
                <input name="nome" type="text">
            </div>
            
            <br>
            <br>
            
            <div>
                <label for="email">E-mail</label>
                <input name="email" type="text">
            </div>
            
            <br>
            <br>
            
            <div>
                <label for="senha">Senha</label>
                <input name="senha" type="text">
                <br>
                <label for="senhaConfirm">Confirmar Senha</label>
                <input name="senhaConfirm" type="text">
            </div>
            
            <br>
            <br>
            
            <div>
                <label for="telefone">Telefone</label>
                <input name="telefone" type="text">
            </div>
            
            <p>Já é cadastrado?</p>
            <button>Faça Login</button>
        </div>

    </div>
</div>

