
<div class="container__inicial">

    <!-- Logo do BookShire -->
    <div class="identidade__visual" [ngClass]="view_logo" >
        <img src="../../../assets/imagens/logo_sem_fundo.png" alt="Logo do BookShire">
        <h1>BookShire</h1>
    </div>
    
    <!-- SEÇÃO DE LOGIN -->
    <div class="container__login " [ngClass]="view_login">
        
        <div class="lembrete" *ngIf="msgErro != ''">
            <p>{{msgErro}}</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="login()">    
            <div class="conteudos">    
                <div class="forms__login">

                    <div class="email_div">
                        <input 
                            formControlName="email"
                            name="email"
                            type="text"
                            placeholder="E-mail"
                            (keyup.enter)="login()">
                    </div>
                    
                    <br>
                
                    <div class="senha_div">
                        <input
                            formControlName="senha"
                            name="senha"
                            type="text"
                            placeholder="Senha"
                            (keyup.enter)="login()">
                    </div>

                </div>
            </div>

            <button class="logar_button" type="submit">Entrar</button>
        </form>

        <p>Não possui conta no BookShire?</p>
        <button class="button_margin" (click)="mudar_tela_login()">Cadastre-se já!</button>
    </div>
    
    <!-- SEÇÃO DE CADASTRO -->
    <div class="container__cadastro " [ngClass]="view_cadastro">
        <div class="forms__cadastro">
            <div class="dados_cadastro">
                <div>
                    <input name="nome" type="text" placeholder="Nome">
                </div>
       
                <div>
                    <input name="email" type="text" placeholder="E-mail">
                </div>
        
                <div>
                    <input name="telefone" type="text" placeholder="Telefone">
                </div>

            </div>
            <div class="dados_cadastro">
                <div class="div_senha">
                    <input name="senha" type="text" placeholder="Senha">
                    <input name="senhaConfirm" type="text" placeholder="Confirmar Senha">
                </div>
                
                <div class="cpf_cnpj">
                    <div class="cnpj">
                        <input name="cnpj_cpf" type="radio" id="cnpj" (click)="mudar_tela_cnpj()" placeholder="CNPJ"/>
                        <label for="cnpj">CNPJ</label>
                    </div>
                    <div class="cpf">
                        <input name="cnpj_cpf" type="radio" id="cpf" (click)="mudar_tela_cpf()" placeholder="CPF" />
                        <label for="cpf" >CPF</label>
                    </div>
                </div>
    
            </div>
            
            
        </div>
            <div class="dado_cnpj" [ngClass]="tela_cnpj">
                <input name="cnpj" type="text" placeholder="CNPJ"/>
            </div>
            <div class="dado_cpf" [ngClass]="tela_cpf">
                <input name="cpf" type="text" placeholder="CPF"/>
            </div>
        <div class="dados_cadastrar">
            <button class="continuar_button" (click)="mudar_tela_endereco()" >Continuar</button>
            <p>Já é cadastrado?</p>
            <button class="button_margin login" (click)="mudar_tela_cadastro()">Faça Login</button>
        </div>
    </div>
    
    <div class="container_endereco" [ngClass]="view_endereco">

        <h1>Cadastro do Endereço</h1>
        <div class="endereco_cadastro">
            <div class="input_endereco">
                <input name="logradouro" type="text" placeholder="Logradouro" class="logradouro_input">
                <input name="numero" type="text" placeholder="Número"/>
                <input name="cep" type="text" placeholder="CEP"/>
            </div>
            <div class="input_endereco01">
                <input name="complemento" type="text" placeholder="Complemento"/>
                <input name="cidade" type="text" placeholder="Cidade"/>
                <input name="bairro" type="text" placeholder="Bairro"/>
            </div>
        </div>
        <div class="dados_cadastrar">
            <button class="cadastrar_button">Cadastrar</button>
            <button class="button_voltar" (click)="seta_voltar()">Voltar</button>
            <p>Já é cadastrado?</p>
            <button class="button_margin_endereco login" (click)="mudar_tela_cadastro()">Faça Login</button>
        </div>
    </div>
</div>
