.container-navBottom{
    width: 100%;
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: end;
}

.navBottom-plusBtn > a > button{
    /* padding: .75rem 1.25rem; */
    border-radius: 100%;
    border: 1px solid white;
    min-width: 65px;
    min-height: 65px;

    /* background-color: #152139; */
    background: linear-gradient(91.67deg, #152139 0%, #1F3B6F 100%);
    color: white;
    font-size: 35px;
    cursor: pointer;
    margin-right: 24px;
    margin-bottom: 12px;
    align-items: center;
    justify-content: center;
}

.navBottom-plusBtn button img {
    width: 20px;
    height: 20px;
    margin: 18px;
}

.navBottom-plusBtn > a > button:hover{
    background-color: #1f3b6f;
}

.navBottom-section{
    background-color: #152139;
    padding: 20px 0;
    width: 100%;
}

.icons{
    list-style-type: none;
    display: flex;
    align-items: row;
    justify-content: space-around;
    color: white;
    padding: 0%;
}

.icons > .icon{
    cursor:pointer;
}

.icon > a > img{
    width: 24px;
    height: 24px;
}