<div class="container-navBottom" [ngClass]="container_navBottom">
    <div class="navBottom-plusBtn">
        <!-- Rota de conexão com a pesquisa de livros p/ anúncio -->
        <a 
            href="anunciar/pesquisa"
        >
            <button>
                <img src="../../../assets/icons/Mais_vetor.svg"/>
            </button>
        </a>
            <!-- [routerLink]="['pesquisa']" -->
            <!-- [queryParams]="{ sort:sort }" -->
            <!-- fragment ="anunciar" -->
    </div>

    <div class="navBottom-section">

        <div class="section-icons">
            <ul class="icons">
                <!-- ADAPTAÇÃO -->
                <li class="icon">
                    <a href="#">
                        <img
                            src="../../../assets/icons/home-icon.svg"
                            alt="Ícone de Tela Inicial">
                    </a>    
                </li>
                <li class="icon">
                    <a href="pesquisa">
                        <img
                            src="../../../assets/icons/pesquisa-icon.svg"
                            alt="Ícone de Pesquisa">
                    </a>
                </li>
                <li class="icon">
                    <a href="perfil/{{id}}">
                        <img 
                            src="../../../assets/icons/perfil-icon.svg"
                            alt="Ícone de Perfil">
                    </a>
                </li>
                <li class="icon">
                    <a href="chat">
                        <img
                            src="../../../assets/icons/mensagens-icon.svg"
                            alt="Ícone de Mensagens">
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>

<!-- Responsividade -->
<div class="mensagem_container" [ngClass]="container_mensagem">
    <img src="../../../assets/imagens/green_circle.png"/>
    <a href="chat">Mensagem</a>
</div>
<div class="container_rodape" [ngClass]="container__rodape">
    <img src="../../../assets/imagens/wave_pc.svg"/>
</div>