<div class="container-navBottom">
    <div class="navBottom-plusBtn">
        <!-- Rota de conexão com a pesquisa de livros p/ anúncio -->
        <a 
            href="anunciar/pesquisa"
        >
            <button>+</button>
        </a>
            <!-- [routerLink]="['pesquisa']" -->
            <!-- [queryParams]="{ sort:sort }" -->
            <!-- fragment ="anunciar" -->
    </div>

    <div class="navBottom-section">

        <div class="section-icons">
            <ul class="icons">
                <li class="icon">
                    <a href="perfil">
                        <img 
                            src="../../../assets/icons/perfil-icon.svg"
                            alt="Ícone de Perfil">
                    </a>
                </li>
                <li class="icon">
                    <a href="pesquisa">
                        <img
                            src="../../../assets/icons/pesquisa-icon.svg"
                            alt="Ícone de Pesquisa">
                    </a>
                </li>
                <li class="icon">
                    <a href="mensagens">
                        <img
                            src="../../../assets/icons/mensagens-icon.svg"
                            alt="Ícone de Mensagens">
                    </a>
                </li>
                <li class="icon">
                    <a href="notificacoes">
                        <img
                            src="../../../assets/icons/notificacao-icon.svg"
                            alt="Ícone de Notificações">
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
