<app-top-nav-bar></app-top-nav-bar>
<br>
<br>
<br>
<br>
<br>
<div class="lista_de_sebos">
    <div class="h2">SEBOS</div>
    <app-sebos-cadastrados-lista></app-sebos-cadastrados-lista>
    <app-sebos-cadastrados-lista></app-sebos-cadastrados-lista>
    <app-sebos-cadastrados-lista></app-sebos-cadastrados-lista>
    <app-sebos-cadastrados-lista></app-sebos-cadastrados-lista>
    <app-sebos-cadastrados-lista></app-sebos-cadastrados-lista>
    <app-sebos-cadastrados-lista></app-sebos-cadastrados-lista>
</div>


