<app-top-nav-bar></app-top-nav-bar>

<div class="container_pesquisa container">
    <div class="pesquisa__barra">
        <app-barra-pesquisa></app-barra-pesquisa>
    </div>
</div>


<div class="lista_de_sebos">
    <div class="h2">SEBOS</div>
    <app-sebos-cadastrados-lista></app-sebos-cadastrados-lista>
    <app-sebos-cadastrados-lista></app-sebos-cadastrados-lista>
    <app-sebos-cadastrados-lista></app-sebos-cadastrados-lista>
    <app-sebos-cadastrados-lista></app-sebos-cadastrados-lista>
    <app-sebos-cadastrados-lista></app-sebos-cadastrados-lista>
</div>
<br><br><br><br><br>


