.container__voltar{
    padding-top: 2rem;
    padding-bottom: .5rem;
    width: 100%;
    top: 0;
    cursor: pointer;
}

.container__voltar > button {
    background-color: transparent;
    border: none;
}

.container__voltar > button > img{
    margin-left: 22px;
    width: 26px;
    height: 26px;
}