/*divs de visibilidade*/
.escondido{
    display: none;
}

.aparecendo{
    display: block;
}

/*css da tela*/
.container_pedidos{
    margin: 0 10px;
}
.geral_pedido{
    display: flex;
    padding: 20px;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    justify-content: center;
     /* sombras */
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.capa_livro{
   align-items: center;
   justify-content: center;
   text-align: center;
   display: flex;
}

.capa_livro > img{
    width: 85px;
    height: 125px;
    border-radius: 12px;

    object-fit: cover;
}

.tituloLivro{
    font-size: 16px;
}

p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
    text-align: center;
    color: #9D9D9D
}

#nome{
    margin-bottom: 10px;
    color: var(--bookshire-blue);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
}

.botoes_confirmar{
    align-items: center;
    text-align: center;
}

.entregar{
    align-items: center;
    text-align: center;
}

.infos_pedidos{
    margin-left: 40px;
    text-align: center;
    width: 150px;
}

#confirmar{
    border: none;
    border-radius: 20px 20px 20px 20px;
    background-color: #152139;
    
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
    
    color: white;
    font-size: 15px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
}


/* ****************** POPUP DE AVALIAÇÃO ****************** */

.container__fundo{
    background-color: rgba(24, 23, 61, 0.295);
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
    right: 0;
    left: 0;
}

.container__avaliacao{
    background-color: var(--book-clear);
    border-radius: 16px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%; 
    padding: 20px;

    position:fixed;
    top:25%;
    left: 0; 
    right: 0;
    
    margin-left: auto; 
    margin-right: auto;
    z-index: 10
}