<div class="container_pedidos">
    <div class="geral_pedido container">
        <div class="capa_livro">
            <img src="{{urlImg}}" alt="Capa de {{tituloLivro}}">
        </div>
        <div class="infos_pedidos">
            <!-- Informações base do pedido -->
            <h2 class="tituloLivro">{{tituloLivro}}</h2>
            <p>{{transacao}} efetuada com: </p>
            <p id="nome"> {{nomeAnunciante}} </p>

            <!-- View de andamento -->
            <div class="entregar" [ngClass]="view_entregar">
                <button id="confirmar" (click)="mudar_view_confirmar()">Confirmar entrega</button>
                <app-msg-denuncia 
                    transacao="{{transacao}}"
                    usuario="{{nomeAnunciante}}"
                ></app-msg-denuncia>
            </div>
            

            <!-- view de histórico -->
            <div class="botoes_confirmar"  [ngClass]="view_botoes_confirmar">
                <button id="confirmar">Confirmar entrega</button>
            </div>
        </div>
    </div>
</div>

