<div class="container_pedidos">
    <div class="geral_pedido">
        <div class="capa_livro">
            <img src="{{urlImg}}" alt="Capa de {{tituloLivro}}">
        </div>
        <div class="infos_pedidos">
            <!--<h2>{{tituloLivro}}</h2>-->
            <p>{{transacao}} efetuada com: </p>
            <div id="nome"> {{nomeAnunciante}} </div>
            <div class="botoes">
                <a href="home"><button>Entrega concluída</button></a>
                <a href="home">Denunciar {{transacao}}</a>
            </div>
        </div>
    </div>
</div>

