<div class="container_pedidos">
    <div class="geral_pedido container">
        <div class="capa_livro">
            <img src="{{urlImg}}" alt="Capa de {{tituloLivro}}">
        </div>
        <div class="infos_pedidos">
            <!-- Informações base do pedido -->
            <h2 class="tituloLivro">{{tituloLivro}}</h2>
            <p>{{transacao}} efetuada com: </p>
            <a id="nome" href="perfil/{{idAnunciante}}">
                <p id="nome"> {{nomeAnunciante}} </p>
            </a>

            <!-- View de andamento -->
            <div class="entregar" [ngClass]="view_entregar">
                <button id="confirmar" (click)="confirmar_entrega()">Deseja confirmar?</button>
                
                <!-- POPUP DE AVALIAÇÃO -->
                <div class="container__fundo" *ngIf="processoAvaliacao == true">
                    <div class="container__avaliacao">
                        <h1>Avalie sua experiência com {{this.nomeAnunciante}}:</h1>
                        <app-rating-stars
                            idUsuario="{{idCliente}}"
                            idPedido="{{idPedido}}"
                        ></app-rating-stars>
                    </div>
                </div>

                <!-- botão de denúncia -->
                <app-msg-denuncia 
                    transacao="{{transacao}}"
                    usuario="{{nomeAnunciante}}"
                ></app-msg-denuncia>
            </div>
            

            <!-- view de histórico -->
            <div class="botoes_confirmar"  [ngClass]="view_botoes_confirmar">
                <button id="confirmar">Entrega Confirmada</button>
            </div>
        </div>
    </div>
</div>

