<div class="geral_top">
    <div class="header_chat">
        <a href="home"><img id="seta" src="assets/icons/seta_azul.svg"></a>
        <img src="assets/thumbnails/logoBookshire.png">
        <div id="username"> BookShire </div>
    </div>
    
    <div class="mensagens_user1">
        <div class="mensagem_um">
            <p id="men1"> Boa tarde, necessito de ajuda. </p>
        </div>
    </div>
    
    <div class="mensagens_user2">
        <div class="mensagem_dois">
            <p id="men2"> Claro, o que você precisa hoje? </p>
        </div>
    </div>

    <div class="mensagens_user1">
        <div class="mensagem_um">
            <p id="men1"> Quais tipos de anúncios posso fazer? </p>
        </div>
    </div>

    <div class="mensagens_user2">
        <div class="mensagem_dois">
            <p id="men2"> No BookShire, você pode realizar anúncios de troca, doação e venda de livros </p>
        </div>
    </div>

    <div class="mensagens_user1">
        <div class="mensagem_um">
            <p id="men1"> Obrigada pela informação! </p>
        </div>
    </div>
</div>
<app-bottom-chat-textbox></app-bottom-chat-textbox>


