<app-top-nav-bar></app-top-nav-bar>
<div class="geral_top">
    <div class="header_chat">
        <img src="assets/thumbnails/logoBookshire.png">
        <div id="username"> BookShire </div>
    </div>
    
    <div class="mensagens_user1">
        <div class="mensagem_um">
            <p id="men1"> Boa tarde, necessito de ajuda. </p>
        </div>
    </div>
    
    <div class="mensagens_user2">
        <div class="mensagem_dois">
            <p id="men2"> Claro, o que você precisa hoje? </p>
        </div>
    </div>

    <div class="mensagens_user1">
        <div class="mensagem_um">
            <p id="men1"> Boa tarde, necessito de ajuda. </p>
        </div>
    </div>

    <div class="mensagens_user2">
        <div class="mensagem_dois">
            <p id="men2"> Claro, o que você precisa hoje? </p>
        </div>
    </div>
</div>
<app-bottom-chat-textbox></app-bottom-chat-textbox>


