<div class="container__grafico">

    <!-- 5 ESTRELAS -->
    <p>⭐⭐⭐⭐⭐</p>
    <p><ngb-progressbar 
        type="warning" 
        [max] = "valorMax" 
        [value]= "qtdNotas[4]"
        >
        {{qtdNotas[4]}}
    </ngb-progressbar></p>
    
    <!-- 4 ESTRELAS -->
    <p>⭐⭐⭐⭐</p>
    <p><ngb-progressbar 
        type="warning" 
        [max] = "valorMax" 
        [value] = "qtdNotas[3]"
        >
        {{qtdNotas[3]}}
    </ngb-progressbar></p>

    <!-- 3 ESTRELAS -->
    <p>⭐⭐⭐</p>
    <p><ngb-progressbar 
        type="warning" 
        [max] = "valorMax" 
        [value] = "qtdNotas[2]"
        >
        {{qtdNotas[2]}}
    </ngb-progressbar></p>

    <!-- 2 ESTRELAS -->
    <p>⭐⭐</p>
    <p><ngb-progressbar 
        type="warning" 
        [max] = "valorMax" 
        [value] = "qtdNotas[1]"
        >
        {{qtdNotas[1]}}
    </ngb-progressbar></p>

    <!-- 1 ESTRELAS -->
    <p>⭐</p>
    <p><ngb-progressbar 
        type="warning" 
        [max] = "valorMax" 
        [value] = "qtdNotas[0]"
        >
        {{qtdNotas[0]}}
    </ngb-progressbar></p>
</div>
