
<div class="container__grafico" *ngIf="demonstracao == true">
    <!-- 5 ESTRELAS -->
    <p>⭐⭐⭐⭐⭐</p>
    <p><ngb-progressbar 
        type="warning" 
        >
        <!-- aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" -->
        
        {{nQtdNotas}}
        [max] = "valorMax" 
        [value] = "qtdNotas"
    </ngb-progressbar></p>
    
    <!-- 4 ESTRELAS -->
    <p>⭐⭐⭐⭐</p>
    <p><ngb-progressbar 
        type="warning" 
        [max] = "nValorMax" 
        [value] = "nQtdNotas"
        >
        <!-- aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" -->

        {{nQtdNotas}}
    </ngb-progressbar></p>

    <!-- 3 ESTRELAS -->
    <p>⭐⭐⭐</p>
    <p><ngb-progressbar 
        type="warning" 
        [max] = "nValorMax" 
        [value] = "nQtdNotas"
        >
        <!-- aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" -->

        {{nQtdNotas}}
    </ngb-progressbar></p>

    <!-- 2 ESTRELAS -->
    <p>⭐⭐</p>
    <p><ngb-progressbar 
        type="warning" 
        [max] = "nValorMax" 
        [value] = "nQtdNotas"
        >
        <!-- aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" -->

        {{nQtdNotas}}
    </ngb-progressbar></p>

    <!-- 1 ESTRELAS -->
    <p>⭐</p>
    <p><ngb-progressbar 
        type="warning" 
        [max] = "nValorMax" 
        [value] = "nQtdNotas"
        >
        <!-- aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" -->

        {{nQtdNotas}}
    </ngb-progressbar></p>
</div>
