<app-top-nav-bar></app-top-nav-bar>

<div class="container__home container">
    <h2 class="titulo-sebo">Sebos</h2>

    <div class="geral_sebos">
        <app-sebo-thumb *ngFor="let sebo of sebosIds"
            idSebo="{{sebo}}"
        ></app-sebo-thumb>
    </div>
    
<app-botao-vermais-sebos></app-botao-vermais-sebos>
    <br>
    <app-secao-pequena
        titulo="Romance"
    ></app-secao-pequena>
    
    <app-secao-pequena
        titulo="Infantil"
    ></app-secao-pequena>

    <app-secao-pequena
        titulo="Fantasia"
    ></app-secao-pequena>
    
</div>

<app-bottom-nav-bar></app-bottom-nav-bar>