<app-top-nav-bar></app-top-nav-bar>

<div class="container__home container">
    <h2 class="titulo-sebo">Sebos</h2>

    <div class="geral_sebos">
        <app-sebo-thumb></app-sebo-thumb>
        <app-sebo-thumb></app-sebo-thumb>
        <app-sebo-thumb></app-sebo-thumb>
        <app-sebo-thumb></app-sebo-thumb>
        <app-sebo-thumb></app-sebo-thumb>
        <app-sebo-thumb></app-sebo-thumb>
        <app-sebo-thumb></app-sebo-thumb>
        <app-sebo-thumb></app-sebo-thumb>
    </div>
        

    <app-secao-pequena
        titulo="Romance"
    ></app-secao-pequena>
    
    <app-secao-pequena
        titulo="Infantil"
    ></app-secao-pequena>

    <app-secao-pequena
        titulo="Fantasia"
    ></app-secao-pequena>
    
</div>