.container__topBar{
    width: 100%;
    padding: 20px;
    background-color: #152139;
    position: fixed;
    top: 0;
}

img{
    height: 35px;
    width: 35px;
}

.topBar__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wrapper__appTitle > h1{
    color: white;
    font-family: 'Roboto', sans-serif; /*!!!! */
}