<app-top-nav-bar></app-top-nav-bar>
  
<div class="geral_mensagens container">
    <app-mensagens-geral-users></app-mensagens-geral-users>
    <br>
    <app-barra-pesquisa></app-barra-pesquisa>
    <br>
    <app-mensagens-geral-users></app-mensagens-geral-users>
    <app-mensagens-geral-users></app-mensagens-geral-users>
    <app-mensagens-geral-users></app-mensagens-geral-users>
    <app-mensagens-geral-users></app-mensagens-geral-users>
    <app-mensagens-geral-users></app-mensagens-geral-users>
    <app-mensagens-geral-users></app-mensagens-geral-users>




</div>

