<app-top-nav-bar></app-top-nav-bar>

<div class="container__list-anuncios container">

    <div class="pesquisa__barra">
        <app-barra-pesquisa></app-barra-pesquisa>
    </div>

    <div class="anuncios__listagem">
        <app-anuncio-thumb
            idLivro = {{idLivro}}
        ></app-anuncio-thumb>
        <app-anuncio-thumb
            idLivro = {{idLivro}}
        ></app-anuncio-thumb>
        <app-anuncio-thumb
            idLivro = {{idLivro}}
        ></app-anuncio-thumb>
    </div>
</div>