<app-top-nav-bar></app-top-nav-bar>

<div class="container__list-anuncios" style="margin: 100px 0">

    <div class="pesquisa__barra">
        <app-barra-pesquisa></app-barra-pesquisa>
    </div>

    <div class="anuncios__listagem">
        <app-anuncio-thumb *ngFor = "let anuncio of lista_anuncios"
            idAnuncio= {{anuncio.Id_anuncio}}
            localAnuncio = {{anuncio.local}}
        ></app-anuncio-thumb>
    </div>

    <div class="mensagemVazia" *ngIf = "lista_anuncios.length == 0">
        <h4>Parece que não há nenhum anúncio deste livro no momento.</h4>
    </div>
</div>