.container__vendedor{
    margin: 0 24px;
    padding: 10px 24px;  
    border-radius: 10px;
    gap: 2rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.container__vendedor, .estrelinhas{
    display: flex;
    flex-direction: row;
}

.estrelinhas{
    gap: .75rem;
}

.vendedor__info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.vendedor__info > h1{
    font-size: 22px;
    font-family: 'Advent Pro';
}

.vendedor__foto > img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.estrela > img{
    height: 25px;
    width: 25px;
}