.container__rating{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:var(--bookshire-blue);
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #d8ab09;
}

.container__rating button {
    border: none;
    margin-top: 10px;
    background-color: #FF6D1F;
    padding: 7px 20px;
    color: white ;
    border-radius: 15px;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */