.geral_botao{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100px;
}
.button{
    padding: 7px;
    width: 150px;
    border-radius: 10px 10px 10px 10px;
    background-color: #F2F2F4C9;
    border: none;
    font-family: 'Advent Pro', sans-serif;
    color: #152139;
    font-weight: bold;
}

