/*
    FONTE ROBOTO -- font-family: 'Roboto', sans-serif;
    Weight: 300 + italics; 400 + italics
*/
/*
    FONTE ADVENT PRO -- font-family: 'Advent Pro', sans-serif;
    Weight: 400 (regular); 500 (Medium); 600 (SemiBold) 
*/

/* 
    FONTE POPPINS -- font-family: 'Poppins', sans-serif;
    Weight: 400(regular); 500 (Medium); 600 (SemiBold)

*/

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* Import da fonte poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --deep-blue: #152139;
    --bookshire-blue: #1F3B6F;
    --book-orange: #FF6D1F;
    --book-clear: #D7DEEA;
}

.container{
    padding-top: 100px;
    padding-bottom: 35px; /*alteração do bottom na barra de pesquisa*/
}

.lembrete{
    border-radius: 15px;
    background: rgba(255, 109, 31, 0.5);
    padding: 3px 0;
    color: #FF6D1F;
    

    text-align: center;
    font-family: 'Advent Pro';
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
    width: 100%;
}