<div class="container__anuncio-thumb">
    <a href="anuncios/{{idLivro}}/{{idAnuncio}}">
        
        <div class="anuncio-thumb__img">
            <img src="{{urlImgLivro}}" alt="Capa de {{tituloLivro}}">
        </div>
    
        <div class="anuncio-thumb__text">
            <div class="text__titulo">
                <h2>{{tituloLivro}}</h2>
            </div>
    
            <div class="text__local">
                <p>{{localAnuncio}}</p>
            </div>
    
            <div class="text__transacao">
                <h1>{{transacaoData}}</h1>
            </div>
        </div>
    </a>
    
    <!-- Aviso de anúncio EM ANDAMENTO -->
    <div class="andamento"
        *ngIf="status == 'Em andamento'"
    >
        <button
            [ngClass]="status"
            >
            {{status}}
        </button>
        <button
            class = "confirmarEntrega"
        >
            Confirmar entrega
        </button>
    </div>

    <!-- Aviso de anúncio FECHADO -->
    <button
        *ngIf="status != 'Em andamento' && status != 'Aberto'"
        [ngClass]="status"
    >
        {{status}}
    </button>
</div>
