<div class="container__anuncio-thumb">
    <a href="#">
        
        <div class="anuncio-thumb__img">
            <img src="{{urlImgLivro}}" alt="Capa de {{tituloLivro}}">
        </div>
    
        <div class="anuncio-thumb__text">
            <div class="text__titulo">
                <h2>{{tituloLivro}}</h2>
            </div>
    
            <div class="text__local">
                <p>{{localAnuncio}}</p>
            </div>
    
            <div class="text__transacao">
                <h1>{{transacaoData}}</h1>
            </div>
        </div>
    
    </a>
</div>
