.pesquisa__categorias{
    margin-top: 20px;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    gap: 20px;
}
@media (min-width : 700px ){
    .container__pesquisa{
        padding:  10% 20% 5% 20% ;
    }
    .escondido{
        display: none;
    }
}