<div class="container__pesquisa">

    <div class="pesquisa__barra">
        <app-barra-pesquisa></app-barra-pesquisa>
    </div>

    <div class="pesquisa__categorias">
        <app-categoria></app-categoria>
        <app-categoria></app-categoria>
        <app-categoria></app-categoria>
        <app-categoria></app-categoria>
        <app-categoria></app-categoria>
        <app-categoria></app-categoria>
        <app-categoria></app-categoria>
        <app-categoria></app-categoria>
        <app-categoria></app-categoria>
        <app-categoria></app-categoria>
        <app-categoria></app-categoria>
        <app-categoria></app-categoria>
    </div>

</div>

<app-bottom-nav-bar></app-bottom-nav-bar>