<div class="container__pesquisa">

    <div class="pesquisa__barra">
        <app-barra-pesquisa></app-barra-pesquisa>
    </div>

    <div class="pesquisa__categorias">
        <app-categoria-thumbnail idCategoria="1"></app-categoria-thumbnail>
        <app-categoria-thumbnail idCategoria="2"></app-categoria-thumbnail>
        <app-categoria-thumbnail idCategoria="3"></app-categoria-thumbnail>
        <app-categoria-thumbnail idCategoria="4"></app-categoria-thumbnail>
        <app-categoria-thumbnail idCategoria="5"></app-categoria-thumbnail>
        <app-categoria-thumbnail idCategoria="6"></app-categoria-thumbnail>
        <app-categoria-thumbnail idCategoria="7"></app-categoria-thumbnail>
        <app-categoria-thumbnail idCategoria="8"></app-categoria-thumbnail>
        <app-categoria-thumbnail idCategoria="9"></app-categoria-thumbnail>
        <app-categoria-thumbnail idCategoria="10"></app-categoria-thumbnail>
        <app-categoria-thumbnail idCategoria="11"></app-categoria-thumbnail>
        <app-categoria-thumbnail idCategoria="12"></app-categoria-thumbnail>
    </div>

</div>

<app-bottom-nav-bar></app-bottom-nav-bar>