<app-top-nav-bar></app-top-nav-bar>

    <div class="container__pesquisa container">
    
        <div class="pesquisa__barra">
            <app-barra-pesquisa></app-barra-pesquisa>
        </div>
    
        <div class="pesquisa__categorias">
            <div *ngFor="let categoria of categorias">
                <app-categoria-thumbnail 
                    idCategoria={{categoria.id}} 
                    nomeCategoria={{categoria.titulo}}
                    ></app-categoria-thumbnail>
            </div>
        </div>
    
    </div>