.resultados__livros {
    margin-top: .75rem;
}

.resultados__livros > button{
    width: 100%;
    padding: 0 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    margin-bottom: 20px;
}

/* Paginação */
.container__paginacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 24px;
}

.container__paginacao > button{
    padding: 5px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: #ff6d1f;
    cursor: pointer;
}