<app-top-nav-bar></app-top-nav-bar>

<div class="container__pesquisa-resultados container">
    
    <div class="pesquisa__barra">
        <app-barra-pesquisa
            textoPadrao="{{pesquisaQuery}}"
            ></app-barra-pesquisa>
    </div>

    <div #resultados__livros class="resultados__livros">
        <button *ngFor = "let livro of livros">
            <app-card-livro
            idLivro="{{livro.id}}"
            livroTitulo="{{livro.titulo}}"
            urlLivroCapa="{{livro.urlImg}}"
            nomeAutor="{{livro.autores}}"
            ></app-card-livro>
        </button>
    </div>

    <!-- botões de paginação -->
    <div class="container__paginacao" style="padding-bottom: 50px">
        <button type="button" (click)="this.recuarLista_Livros()"> < </button>
        <button type="button" (click)="this.avancarLista_Livros()" > > </button>
    </div>
</div>